    <div class="footer-leyenda">
        <div class="left">&copy; Club Bonacompra Menorca 2013</div>
        <div class="right">Diseño y desarrollo web de <a target="_blank" href="http://memorysoft.es/diseño-y-desarrollo-de-paginas-web-en-menorca">Memory Soft</a></div>
    </div>